<app-navbar></app-navbar>
<div>
    <router-outlet></router-outlet>
</div>

<!-- <div style="text-align:center">
    <h2>Using Solid Icons</h2>
    <fa-icon [icon]="['fas','coffee']"></fa-icon>
    <fa-icon [icon]="['fas','chess']"></fa-icon>
    <fa-icon [icon]="['fas', 'square']"></fa-icon>
    <br />
    <fa-icon [icon]="['fas', 'check-square']"></fa-icon>
  </div>
  <hr />
  <div style="text-align:center">
    <h2>Using Regular Icons</h2>
    <fa-icon [icon]="['far', 'square']"></fa-icon>
    <br />
    <fa-icon [icon]="['far', 'check-square']"></fa-icon>
  </div>
  <hr />
  <div style="text-align:center">
    <h2>Using Brand Icons</h2>
    <fa-icon [icon]="['fab', 'stack-overflow']"></fa-icon>
    <br />
    <fa-icon [icon]="['fab', 'github']"></fa-icon>
    <br />
    <fa-icon [icon]="['fab', 'medium']"></fa-icon>
    <br />
    <fa-icon [icon]="['fab', 'amazon']"></fa-icon>
  </div> -->